
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  mat-card {
    outline: 1px solid black !important;
    border-radius: 10px !important;
  }

  div {
    margin: 20px;
    padding: 20px;
  }